<p style="color: green"><%= notice %></p>

<%= render @customer %>

<div>
  <p><%= link_to "Edit this customer", edit_customer_path(@customer) %></p>
  <p><%= link_to "Back to customers", customers_path %></p>
  <p><%= button_to "Destroy this customer", @customer, method: :delete %></p>
</div>

<div id="orders">
 <% if @customer.orders.present? %>
    <h2>Orders</h2>
      <% @customer.orders.each do |order| %>
        <%= render order %>
        <p><%= link_to "Show order", order %></p>
        <p><%= link_to "Edit order", edit_order_path(order) %></p>
        <p><%= link_to "Delete this order", data: {"turbo-method": :delete} %></p>
      <% end %>
  <% end %>
</div>
