<p style="color: green"><%= notice %></p>

<%= render @customer %>

<div>
  <p><%= link_to "Edit this customer", edit_customer_path(@customer) %></p>
  <p><%= link_to "Back to customers", customers_path %></p>
  <p><%= button_to "Destroy this customer", @customer, method: :delete %></p>
</div>

<div id="orders">
  <% if @customer.orders.present? %>
    <h2>Customer Orders</h2>
    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @customer.orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.product_name %></td>
            <td><%= order.product_count %></td>
            <td>
              <p><%= link_to "Show order", order %></p>
              <p><%= link_to "Edit order", edit_order_path(order) %></p>
              <!-- Add proper path and method for deleting the order -->
              <p><%= link_to "Delete this order", order, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No orders found for this customer.</p>
  <% end %>
</div>
