<!DOCTYPE html>
<html>
  <head>
    <title>R7Additional</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div classname="container-fluid">
  <!-- Bootstrap danger alert for flash[:alert] -->
  <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <!-- Bootstrap success alert for flash[:notice] -->
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
    <%= yield %>
  </div>
  </body>
</html>
